*{
    margin: 0%;
}
header{
    background-color: rgb(214, 209, 209);
    display: grid;

}
header img{
    width: 100px;
}
header h1{
    position: absolute;
    left: 45%;
}
main{
    background-color: rgb(231, 224, 224);
}
footer{
    background-color: rgb(170, 169, 168);
}